<ion-header [translucent]="true" no-border>
    <ion-toolbar [color]="colorsegundo">

        <ion-title>COMPRAR</ion-title>

        <ion-button [color]="colorsegundo" class="noborder" slot=end (click)="salir()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [color]="colorprimero">

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf=" !total ">
        <ion-skeleton-text animated style="width: 100%; height: 40px" *ngFor="let x of arraySk"></ion-skeleton-text>
    </div>

    <div *ngIf=" total ">

        <ion-grid>
            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    PROPINA
                </ion-col>
                <ion-col size="12">
                    <ion-segment mode="ios">
                        <ion-segment-button value="1" (click)="darPropina(1)">
                            <ion-label>SI</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="2" (click)="darPropina(0)">
                            <ion-label>NO</ion-label>
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-row *ngIf=" tipo == 1 && sectores != '' ">
            <ion-col size="12">
                <ion-button [color]="colorsegundo" expand="block" (click)="showHidde()" class="ion-text-wrap" *ngIf=" numMonto >= subTotal ">{{ txtBotonSector }}</ion-button>
            </ion-col>
        </ion-row>
        <div [hidden]="ishidden">
            <ion-item *ngFor="let sector of sectores" button [color]="colorprimero" (click)="selectSector(sector)">
                <ion-label class="ion-text-wrap">
                    <h2>{{ sector.SECTOR_OBS }}</h2>
                    <h3>{{ sector.SECTOR_VALOR | peso }}</h3>
                </ion-label>
            </ion-item>
        </div>

        <ion-row>
            <ion-col size="12">
                <ion-button [color]="colorsegundo" expand="block" *ngIf=" tipo != 1 " (click)="alertCtrlOtro()">{{ txtDatos }}</ion-button>
                <ion-button [color]="colorsegundo" expand="block" *ngIf=" tipo == 1 " (click)="alertCtrlDelivery()">{{ txtDatos }}</ion-button>
            </ion-col>
        </ion-row>

        <ion-list *ngIf="boolConfirma && tipo == 1">
            <ion-item [color]="colorsegundo">
                <ion-button [color]="colorprimero" expand="block" class="obj-center" (click)="areaReparto()">VER ÁREAS DE REPARTO AQUÍ</ion-button>
            </ion-item>
            <ion-item [color]="colorsegundo">
                <ion-label>Confirmo que vivo dentro de las áreas<br> de reparto</ion-label>
                <ion-checkbox slot="end" (ionChange)="confirmarArea($event)"></ion-checkbox>
            </ion-item>
        </ion-list>

        <!-- TEXTO MONTO MÍNIMO -->
        <ion-item [color]="colorsegundo" *ngIf=" (txtMonto != '') && (tipo == 1) ">
            <ion-label class="ion-text-center ion-text-wrap">
                {{ txtMonto }}
            </ion-label>
        </ion-item>

        <!-- PROPINA -->
        <ion-item [color]="colorsegundo">
            <ion-label>
                Propina:
            </ion-label>
            <span slot="end">
                {{ propina | peso }}
            </span>
        </ion-item>

        <!-- SUBTOTAL -->
        <ion-item [color]="colorsegundo">
            <ion-label>
                Sub-total:
            </ion-label>
            <span slot="end">
                {{ subTotal | peso }}
            </span>
        </ion-item>

        <!-- DELIVERY -->
        <ion-item [color]="colorsegundo" *ngIf=" tipo == 1 ">
            <ion-label>
                Delivery:
            </ion-label>
            <span slot="end" *ngIf="numMonto < subTotal"> $0 </span>
            <span slot="end" *ngIf="numMonto >= subTotal"> {{ montoDelivery | peso }} </span>
        </ion-item>

        <!-- TOTAL -->
        <ion-item [color]="colorsegundo">
            <ion-label>
                Total:
            </ion-label>
            <span slot="end">
                {{ total | peso }}
            </span>
        </ion-item>

        <!-- TIEMPO DE ENTREGA -->
        <ion-item [color]="colorsegundo" *ngIf=" tipo != 2 ">
            <ion-label class="ion-text-center ion-text-wrap">
                {{ tiempoEntrega }}
            </ion-label>
        </ion-item>

        <ion-row>
            <ion-col size="12">
                <ion-button [color]="colorsegundo " expand="block " (click)="comprobarStock()">REALIZAR PAGO</ion-button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>