ion-segment-button {
    --padding-start: 0px;
    --padding-end: 0px;
    --margin-end: 0px;
    --margin-start: 0px;
    --color-checked: #000;
    --color: white;
    --background-checked: white;
}

.alert-checkbox-label.sc-ion-alert-md {
    white-space: wrap !important;
}

p.tiempo {
    text-align: center;
    font-weight: bold;
}

.list-md {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}