ion-segment-button {
    --padding-start: 0px;
    --padding-end: 0px;
    --margin-end: 0px;
    --margin-start: 0px;
    --color-checked: #000;
    --color: white;
    --background-checked: white;
}

.alert-checkbox-label.sc-ion-alert-md {
    white-space: wrap !important;
}

p.tiempo {
    text-align: center;
    color: var(--ion-color-warning);
    font-weight: bold;
}