<ion-header [translucent]="true" no-border>
    <ion-toolbar color="barra">

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>HORARIO</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding color="empresa">

    <ion-grid>

        <ion-item *ngFor="let horario of horarios" color="empresa">
            <ion-col>
                {{ horario.HORARIO_DIA_OPEN | dia }}
            </ion-col>
            <ion-col>
                {{ horario.HORARIO_HORA_OPEN | slice:0:5 }} - {{ horario.HORARIO_HORA_CLOSE | slice:0:5 }}
            </ion-col>
        </ion-item>

    </ion-grid>

</ion-content>