.txt-contenido {
    text-align: justify;
    line-height: 1.2rem;
    padding: 0 10px;
}

.btns-center {
    text-align: center;
}
.desc p {
    text-align: justify;
    line-height: 1.2rem;
    padding: 0 10px;
}
ion-img.logo {
    width: 85%;
    margin: 15px auto;
    display: block;
}