<ion-header [translucent]="true" no-border>
    <ion-toolbar [color]="colorsegundo">

        <ion-title>{{ nmbEmpresa }}</ion-title>

        <ion-button [color]="colorsegundo" class="noborder" slot=end (click)="salir()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content [color]="colorprimero">
    <div *ngIf=" !load ">
        <ion-skeleton-text animated style="width: 50%;height: 40px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%;height: 500px;"></ion-skeleton-text>
    </div>

    <div *ngIf=" load ">
        <h1>{{ direccion }}</h1>
    </div>
    <div #map id="map"></div>

</ion-content>