<ion-header [translucent]="true" no-border>
    <ion-toolbar [color]="colorsegundo">

        <ion-title>{{ producto }}</ion-title>
        <ion-button [color]="colorsegundo" slot=end (click)="salir()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [color]="colorprimero">

    <div *ngIf=" img == '' ">
        <ion-skeleton-text animated style="width: 100%; height: 300px"></ion-skeleton-text>
    </div>
    <div *ngIf=" img != '' ">
        <img [src]="img | url" class="w100" />
    </div>

</ion-content>