<ion-header [translucent]="true" no-border>
    <ion-toolbar [color]="colorsegundo">

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>{{ producto.PRODUCTO_NOMBRE }}</ion-title>

        <ion-buttons slot="end">
            <ion-button id="cart-btn" (click)="irShop()">
                <ion-badge [color]="colorprimero" *ngIf="countShop > 0">{{ countShop }}</ion-badge>
                <ion-icon name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>


    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [color]="colorprimero">

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf=" !load ">
        <ion-skeleton-text animated style="width: 100%; height: 200px"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%;" *ngFor="let x of arraySk"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%;" *ngFor="let x of arraySk"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%;" *ngFor="let x of arraySk"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%;" *ngFor="let x of arraySk"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 40px"></ion-skeleton-text>
    </div>

    <div *ngIf=" load ">

        <ion-slides [pager]="pager">

            <ion-slide *ngIf="producto.PRODUCTO_IMG">

                <img [src]="producto.PRODUCTO_IMG | url" class="w100" (click)="abrirImagen(producto.PRODUCTO_IMG,producto.PRODUCTO_NOMBRE)" />

            </ion-slide>

            <ion-slide *ngFor="let imagen of imagenes">

                <img [src]="imagen.IMAGEN_RUTA | url" class="w100" (click)="abrirImagen(imagen.IMAGEN_RUTA,producto.PRODUCTO_NOMBRE)" />

            </ion-slide>

        </ion-slides>

        <h1>{{ producto.PRODUCTO_NOMBRE }}</h1>
        <p class="desc">{{ producto.PRODUCTO_DESC }}</p>

        <ion-row *ngFor="let precio of precios">
            <ion-col size="7">
                {{ precio.PROVAR_VALOR | peso }}
                <span class="aviso" *ngIf="precio.PROVAR_STOCK == 0">SIN STOCK</span>
                <span class="aviso" *ngIf="stock[precio.PROVAR_ID] > 0">STOCK MÁXIMO</span>
                <br/> {{ precio.PROVAR_DESC }}
            </ion-col>
            <ion-col size="3" class="operador">
                <ion-icon name="remove-outline" *ngIf="cantidad[precio.PROVAR_ID] > 0" (click)="restar(producto.PRODUCTO_NOMBRE , precio, cantidad[precio.PROVAR_ID], precio.PROVAR_STOCK)"></ion-icon>
                <ion-icon name="remove-outline" *ngIf="!cantidad[precio.PROVAR_ID]"></ion-icon>

                <span>{{ cantidad[precio.PROVAR_ID] }}</span>

                <ion-icon name="add-outline" *ngIf="precio.PROVAR_STOCK == 0 || stock[precio.PROVAR_ID] > 0"></ion-icon>
                <ion-icon name="add-outline" *ngIf="(precio.PROVAR_STOCK > 0) && (!stock[precio.PROVAR_ID]) || !precio.PROVAR_STOCK " (click)="sumar(producto.PRODUCTO_NOMBRE , precio, cantidad[precio.PROVAR_ID], precio.PROVAR_STOCK)"></ion-icon>
            </ion-col>
            <ion-col size="1">
                <ion-button [color]="colortercero" size="small" *ngIf="cantidad[precio.PROVAR_ID] > 0" (click)="obsAlert( producto.PRODUCTO_NOMBRE , precio, cantidad[precio.PROVAR_ID] )">
                    <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>
                <ion-button [color]="colortercero" size="small" *ngIf="!cantidad[precio.PROVAR_ID]" disabled="true">
                    <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="ion-text-center ion-margin-top">
                    * PARA INDICAR ALGUNA OBSERVACIÓN EN TU PEDIDO HAS CLICK EN
                    <ion-button [color]="colortercero" size="small">
                        <ion-icon name="pencil-outline"></ion-icon>
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>

        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" [color]="colorsegundo" [disabled]="disabled" (click)="irShop()">Comprar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


</ion-content>