<ion-header [translucent]="true" no-border>
    <ion-toolbar color="dark">

        <ion-title>{{ nmbEmpresa }}</ion-title>

        <ion-button color="dark" slot=end (click)="salir()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content *ngIf="cargando">

    <h1>{{ direccion }}</h1>


    <agm-map [latitude]="lat | numero" [zoom]="zoom" [longitude]="lgt | numero">
        <agm-marker [latitude]="lat | numero" [longitude]="lgt | numero"></agm-marker>
    </agm-map>

    <!-- <agm-map [latitude]="lat | numero" [longitude]="lgt | numero">
        <agm-direction [origin]="origin" [destination]="destination">
        </agm-direction>
    </agm-map> -->

</ion-content>