<ion-header [translucent]="true" no-border>
    <ion-toolbar [color]="colorsegundo">

        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
        </ion-buttons>
        <ion-title>NOTIFICACIÓN</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding [color]="colorprimero">

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf=" !load ">

        <ion-card [color]="colorsegundo" *ngFor="let x of arraySk">
            <ion-item [color]="colorsegundo">
                <ion-skeleton-text animated style="width: 30%; height: 15px;"></ion-skeleton-text>
            </ion-item>
            <ion-card-header>
                <ion-card-title>
                    <ion-skeleton-text animated style="width: 50%; height: 20px;"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            </ion-card-content>
        </ion-card>

    </div>

    <div *ngIf=" load ">

        <div *ngIf=" notificaciones.length == 0 ">
            <h1>SIN NOTIFICACIONES PARA MOSTRAR</h1>
        </div>

        <ion-card *ngFor="let notificacion of notificaciones" [color]="colorsegundo">
            <ion-item [color]="colorsegundo">
                <ion-card-subtitle>{{ notificacion.PUSH_DATE | date }}</ion-card-subtitle>
                <ion-button fill="outline" slot="end" [color]="colorprimero" *ngIf="notificacion.PRODUCTO_ID != 0" (click)="detalle(notificacion.PRODUCTO_ID)">VER</ion-button>
            </ion-item>
            <ion-card-header>
                <ion-card-title>{{ notificacion.PUSH_TITLE }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                {{ notificacion.PUSH_TEXTO }}
            </ion-card-content>
        </ion-card>

    </div>


</ion-content>