<ion-header [translucent]="true" no-border>
    <ion-toolbar [color]="colorsegundo">

        <ion-title>CARRITO</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [color]="colorprimero">

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf=" !load ">
        <ion-skeleton-text animated style="width: 100%; height: 30px" *ngFor="let x of arraySk"></ion-skeleton-text>
    </div>

    <div *ngIf=" load ">

        <div *ngIf="productos.length == 0">
            <ion-button [color]="colorsegundo" class="canasta-vacia" expand="block" (click)="irMenu()">
                TIENES TU CANASTE VACIA <br> REVISA NUESTROS PRODUCTOS AQUÍ
            </ion-button>
        </div>

        <div *ngIf="productos.length > 0">
            <ion-grid *ngFor="let producto of (productos | ordenProducto); let i=index" [style]="styleBorder">
                <ion-row>
                    <ion-col>
                        {{ producto.nmbPro }} - {{ producto.varPro.PROVAR_DESC }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        {{ producto.varPro.PROVAR_VALOR * producto.cantidad | peso }}
                    </ion-col>
                    <ion-col size="4" class="operador">
                        <ion-icon name="remove-outline" *ngIf="producto.cantidad > 1" (click)="restar( producto )"></ion-icon>
                        <ion-icon name="remove-outline" *ngIf="producto.cantidad <= 1"></ion-icon>
                        {{ producto.cantidad }}
                        <ion-icon name="add-outline" (click)="sumar( producto )"></ion-icon>
                    </ion-col>
                    <ion-col size="4" class="ion-text-center">
                        <ion-icon name="trash-outline" (click)="eliminarVarPro(producto.varPro.PROVAR_ID)"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let articulo of articulos; let i=index;">
                    <ion-col *ngIf=" producto.varPro.PROVAR_ID == articulo.PROVAR_ID ">
                        {{ articulo.articulo | combo }}
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item [color]="colorsegundo" class="total">
                <ion-label>
                    Total:
                </ion-label>
                <span slot="end">
                    {{ totalProductos | peso }}
                </span>
            </ion-item>

            <ion-grid *ngIf=" tipoNegocio.length > 0 ">
                <ion-row>
                    <ion-col size="12" class="ion-text-center">
                        ¿QUÉ SERVICIO DESEAS?
                        <ion-icon name="help-circle-outline" class="help" (click)="helpServicio()"></ion-icon>
                    </ion-col>
                    <ion-col size="12">
                        <ion-segment mode="ios">
                            <ion-segment-button *ngFor="let negocio of tipoNegocio" (click)="clcEntrega(negocio.TIPO_NEGOCIO_ID)">
                                <ion-label>{{ negocio.TIPO_NEGOCIO_ABR }}</ion-label>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid *ngIf=" tipoNegocio.length == 0 ">
                <ion-row>
                    <ion-col size="12" class="ion-text-center">
                        ¿QUÉ SERVICIO DESEAS?
                    </ion-col>
                    <ion-col size="12" class="ion-text-center">
                        <ion-button [color]="colortercero" expand="block" class="ion-text-wrap">
                            LAMENTABLEMENTE, EN ESTOS MOMENTOS NO ESTAMOS DISPONIBLE
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-row>
                <ion-col size="12">
                    <ion-button [color]="colorsegundo" expand="block" *ngIf="open == 1 " (click)="comprobarStock()">PAGAR</ion-button>
                    <ion-button [color]="colortercero" expand="block" *ngIf="open == 0 && timeBack == ''" routerLink="/horario">CERRADO</ion-button>
                    <ion-button [color]="colortercero" expand="block" *ngIf="open == 0 && timeBack != ''" routerLink="/horario">CERRADO {{ timeBack }} para abrir.</ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div>

</ion-content>