<ion-header [translucent]="true" no-border>
    <ion-toolbar color="secondary">

        <ion-title slot="start">
            MENÚ
        </ion-title>
        <ion-buttons slot="end" routerLink="/notificacion">
            <ion-icon name="notifications-outline"></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf=" !load ">

        <ion-list>
            <ion-list-header color="primary">
                <ion-skeleton-text animated style="width: 50%; height: 30px;"></ion-skeleton-text>
            </ion-list-header>
            <ion-item color="primary" *ngFor="let x of arraySk">
                <ion-avatar slot="start">
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf=" load ">

        <ion-list *ngFor="let item of menu">
            <ion-list-header color="primary">
                {{ item.TIPO_PRODUCTO_NOMBRE }}
            </ion-list-header>
            <ion-item *ngFor="let producto of item.productos" button detail color="primary" (click)="detalle(producto.PRODUCTO_ID)">
                <ion-avatar slot="start">
                    <img [src]="producto.PRODUCTO_IMG | url">
                </ion-avatar>
                <ion-label>
                    <h2>{{ producto.PRODUCTO_NOMBRE }}</h2>
                    <h3>{{ producto.PRODUCTO_VALOR_BASE | peso }}</h3>
                    <p>{{ producto.PRODUCTO_DESC }}</p>
                </ion-label>
            </ion-item>
        </ion-list>

    </div>

</ion-content>